<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Elara.Repository.Properties.Settings.stringConect"
            connectionString="Data Source=JARAQUI\PIABA;Initial Catalog=Narvi;User ID=sa;Password=12tres"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>